body {
  padding-top: 50px;
  background-color:#000000;
  background-image: url('/assets/images/IntelligenceNetworks.jpg');
  background-repeat: no-repeat;
  color: rgb(90, 90, 90);
}

.navbar {
	background: rgba(238, 238, 238, 0.9);
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container.mid {
	min-height:550px;
	background: rgba(238, 238, 238, 0.9);
}

form.login {
	margin: 0px auto;
	max-width: 250px;
}